// Cores planetas box-shadow
$sun: #f9c05f;
$mercury: #f9c05f;
$venus: #c1aa81;
$earth: #2855d6;
$mars: #fea535;
$jupiter-uranus-neptune: #cac2b9;


// Tamonho dos componentes
$sun-t: 120px;