.sun {
    height: $sun-t;
    width: $sun-t;
    border-radius: 50%;
    background-size: cover;
    box-shadow: -4px 2px 56px $sun;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .sun-img {
        height: $sun-t;
        width: $sun-t;
    }
}